/*@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');*/

/*
  : Style the game page according to guidelines
  NOTE: To use the above typeface, use font-family: "Press Start 2P" -- the above is
        equivalent to importing it as a stylesheet in HTML.
*/

/*
  : Implement mobile query for smaller screen sizes.
*/


body{
  background-color: black;
}
footer{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  background-color: #ec0000;
}

/* ID*/

#button_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto;

}

#top-right{
  background-color: #4fe654;
  color: black;
}
#top-left{
  background-color: #ec0000;
  color: black;

}
#bottom-left{
  background-color: #eeff00;
  color: black;

}
#bottom-right{
  background-color: #30cdf5;
  color: black;

}
#points{
  background-color: #ec0000;
  padding: 10px 20px;
  color: black;


}

/*classes*/

.buttonClass{
  border: 3px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 60px 60px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;

}

.buttonClass:hover{
  border-top: #eeff00;
  border-color: #e53cf5;
  background-color: rgb(233, 123, 248)
}
@media only screen and (max-width: 1024px) { 
  /*
    Selectors go here
   */
  #button_container{
    position: absolute;
    grid-template-columns: auto;
    height: 75vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}